__pycache__/
*.pyc
*.pyo
*.pyd
*.npy
*.pkl
*.index
*.log
*.DS_Store
.env
.vscode/
.embeddings/

# Ignore Python cache files
backend/__pycache__/

# Ignore Python virtual environments
venv

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints

# Ignore embeddings
*.json
*.pkl
*.npy

# Ignore data files
data/images/
data/processed/

# Ignore frontend files 
frontend/public/image/
node_modules/
frontend/.next/
frontend/next-env.d.ts

codebase.md